.ChangePasswordStart {
    height: calc(100vh - 160px);
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChangePasswordStart h2 {
    font-family: "KIMM_Bold";
    margin-bottom: 15px;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.passwordForm > input {
    margin-bottom: 15px;
    width: 100%;
    font-family: "Noto Sans KR"
    
}

.passwordForm button {
    width: 80%;
    height: 40px;
    font-family: "Noto Sans KR";
    font-size: 12px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;

}

.passwordForm button:hover {
  background-color: #777;
}
